<div mat-dialog-title>
  <h1>Hello, {{ data.name }}</h1>
  <h2>Password Change</h2>
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Current Password</mat-label>
      <input
        matInput
        [type]="showPassword1 ? 'text' : 'password'"
        formControlName="oldpassword"
        placeholder="Enter Your Password"
        #password
      />
      <mat-error *ngIf="form.get('oldpassword').hasError('required')">
        Please Provide a Password
      </mat-error>
      <mat-error *ngIf="form.get('oldpassword').hasError('minlength')">
        Password must have length of 6 or higher
      </mat-error>
      <button
        matSuffix
        mat-button
        *ngIf="!showPassword1"
        (click)="showPassword = true"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        matSuffix
        mat-button
        *ngIf="showPassword1"
        (click)="showPassword = false"
      >
        <mat-icon>visibility_off</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="showPassword2 ? 'text' : 'password'"
        formControlName="newpassword"
        placeholder="Enter Your Password"
        #password
      />
      <mat-error *ngIf="form.get('newpassword').hasError('required')">
        Please Provide a Password
      </mat-error>
      <mat-error *ngIf="form.get('newpassword').hasError('minlength')">
        Password must have length of 6 or higher
      </mat-error>
      <button
        matSuffix
        mat-button
        *ngIf="!showPassword2"
        (click)="showPassword = true"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        matSuffix
        mat-button
        *ngIf="showPassword2"
        (click)="showPassword = false"
      >
        <mat-icon>visibility_off</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onPassword()" [disabled]="form.invalid">
    Change Password
  </button>
  <button mat-button mat-dialog-close>Close</button>
</div>
