<app-loading *ngIf="isLoading"></app-loading>
<div class="main-container" *ngIf="!isLoading">
  <h2>Login</h2>
  <div class="login-form">
    <form [formGroup]="form" (submit)="onLogin()">
      <label for="email"> Email </label>
      <input
        name="email"
        type="email"
        placeholder="Enter Your Email"
        formControlName="email"
      />
      <label for="password">Password</label>
      <div class="inputBox">
        <input
          type="password"
          name="password"
          placeholder="Enter Your Password"
          formControlName="password"
          #password
        />
        <button class="show-btn" (click)="showPasswordChange()">Show</button>
      </div>
      <p *ngIf="showPassword">{{ password.value }}</p>
      <input type="submit" class="login-btn" value="Login" />
    </form>
  </div>
</div>
