<app-loading *ngIf="isLoading"></app-loading>
<div class="main-container" *ngIf="!isLoading">
  <h2>Login</h2>
  <div class="login-form">
    <form [formGroup]="form" (submit)="onLogin()">
      <label class="input-box-label" for="email"> Email </label>
      <input
        name="email"
        type="email"
        placeholder="Enter Your Email"
        formControlName="email"
      />
      <label class="input-box-label" for="password">Password</label>

      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        placeholder="Enter Your Password"
        formControlName="password"
        #password
      />
      <button
        matSuffix
        mat-button
        *ngIf="!showPassword"
        (click)="showPassword = true"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        matSuffix
        mat-button
        *ngIf="showPassword"
        (click)="showPassword = false"
      >
        <mat-icon>visibility_off</mat-icon>
      </button>

      <input type="submit" class="login-btn" value="Login" />
    </form>
  </div>
</div>
