body {
  margin: 0;
  background: #f2f2f2;
  font-family: Poppins;
}
.main-container {
  margin: 10em 4em;
  padding: 5em 2em;

  h2 {
    font-size: 4em;
  }
  mat-label {
    display: block;
    font-size: 1.2em;
  }

  mat-form-field {
    display: block;
    padding: 0.5em;
  }

  mat-error {
    color: red;
    font-weight: bold;
  }
}

.submit-btn {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  box-sizing: border-box;
}
